<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="canonical" href="https://yummyfind.herokuapp.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#791c23">
    <title><%= title %></title>
    <meta name="description" content="Reconocimiento de alimentos y buscador de recetas de cocina">
    <link rel="manifest" href="manifest.json">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="client/materialize-css/dist/css/materialize.min.css" media="screen">
    <link rel='stylesheet' href='/stylesheets/style.css' media="screen" />
  </head>
  <body>
    <%- include("partials/home/navbar") -%>
    <%- include("partials/home/sidenav") -%>
    <%- include("partials/home/canvas") -%>
    <%- include("partials/home/modal") -%>
    <%- include("partials/home/footer") -%>

    <script src="client/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="client/materialize-css/dist/js/materialize.min.js" charset="utf-8"></script>
    <script src="client/localforage/dist/localforage.min.js" charset="utf-8"></script>
    <script src="client/handlebars/dist/handlebars.min.js" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>

    <script src="/javascripts/init.js" charset="utf-8"></script>
    <script src="/javascripts/score.js" charset="utf-8"></script>
    <script src="/javascripts/gamification.js" charset="utf-8"></script>
    <script src="/javascripts/video.js" charset="utf-8"></script>
    <script src="/javascripts/getrecipe-socket.js" charset="utf-8"></script>
    <script src="/javascripts/getrecipe-form.js" charset="utf-8"></script>

    <script id="recipes-list" type="text/x-handlebars-template">
      {{#each objects}}
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{ recipe.image }}" alt="{{ recipe.label }}">
        </div>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{ recipe.label }}<i class="material-icons right">more_vert</i></span>
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Ingredientes<i class="material-icons right">close</i></span>
          <ul>
            {{#each recipe.ingredientLines}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
          <br>
          <p>
            <strong>Calorias:</strong> {{#integer}}{{ recipe.calories }}{{/integer}} kcal<br>
            <strong>Grasas Totales:</strong> {{#integer}}{{ recipe.totalWeight }}{{/integer}} g
          </p>
        </div>

        <div class="card-action">
          <a href="{{ recipe.url }}" target="_blank">Ver Receta</a>
        </div>
      </div>
      {{/each}}
    </script>

    <script id="navbarScore" type="text/x-handlebars-template">
      <li>
        <a>
          <span class="new badge grey darken-4" data-badge-caption="pts">{{ score }}</span>
        </a>
      </li>
    </script>

    <script id="sidenavScore" type="text/x-handlebars-template">
      <!--<div class="background">
        <img src="{{ level_background }}">
      </div>
      <a href=""><img class="circle" src="{{ level_avatar }}"></a>-->

      <div class="background">
        <img src="/images/sidenav/512x512.png" alt="YummyFind - Background User">
      </div>
      <a href="" class="center-block"><img class="circle" src="/images/sidenav/512x512.png" alt="YummyFind - Image User"></a>
      <a href=""><span class="white-text name">Nv: {{ level_status }}</span></a>
      <a href=""><span class="white-text email">{{ level_quote }}</span></a>
    </script>

    <script type="text/javascript">
    if('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/javascripts/sw.js')
        .then(function() {
          console.log('Service Worker Registered');
        }).catch(function(err) {
          console.log("No it didn't. This happened: ", err)
        });
      }
    </script>

  </body>
</html>
